<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Globalization #1</title>
  </head>
  <body>
    <img id="title" src="../assets/title.png" alt="" />
    <div id="map"></div>

    <div class="wrapper">
      <div class="age">
        <div class="age-item active">
          <span>N</span>
          <span>e</span>
          <span>o</span>
          <span>l</span>
          <span>i</span>
          <span>t</span>
          <span>h</span>
          <span>i</span>
          <span>c</span>
          <div></div>
          <span>e</span>
          <span>r</span>
          <span>a</span>
        </div>
      </div>
      <div class="wrapper-scroll">
        <!-- <div class="event">
          <div class="event-date">10 000 <span>BC</span></div>
          <div class="event-pointer"></div>
          <div class="event-content">
            <div class="event-content__item">
              <img src="../assets/test.png" alt="" />
              <div class="event-content__item-text">
                Transition from hunting and gathering to agriculture
              </div>
            </div>
            <div class="event-content__item">
              <img src="../assets/test.png" alt="" />
              <div class="event-content__item-text">
                Transition from hunting and gathering to agriculture
              </div>
            </div>
            <div class="event-content__item">
              <img src="../assets/test.png" alt="" />
              <div class="event-content__item-text">
                Transition from hunting and gathering to agriculture
              </div>
            </div>
            <div class="event-content__item">
              <img src="../assets/test.png" alt="" />
              <div class="event-content__item-text">
                Transition from hunting and gathering to agriculture
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </body>
</html>
